body {
    background-color: #1802e0;
}

.miboop {
    font-size: 300px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fc0505;
}

.cart {
        animation: rotation 1000s infinite linear;
      }
    
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

