h1 {
    color:#beccc8;
    text-align: center;
    font-size: 50px;
}

body {
    color:#beccc8;
    padding:0;
    margin:3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #2b3632;
}

img {
    max-width: 300px;
    border-radius: 100%;
    border-style: groove;
    border-color:#2b3632;
}

.containment {
    text-align: center;
    color:#beccc8;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.text1 {
    color:#beccc8;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 22px;
}